#index {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url('../images/bj.jpg') no-repeat top scroll;
  background-size: cover;
}
#index h1 {
  font-size: 90px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
#page2 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: orange;
}
#page2 .box {
  position: absolute;
  color: transparent;
}
#page2 .box img {
  width: 100%;
  display: block;
}
#page2 .box1 {
  width: 10vw;
  right: 2vw;
  top: 2vw;
}
#page2 .box1 img {
  width: 100%;
}
#page2 .box2 {
  left: 12vw;
  bottom: 3vw;
  width: 18vw;
}
#page2 .box3 {
  left: 34vw;
  bottom: 3vw;
  width: 22vw;
}
#page2 .box4 {
  left: 20vw;
  bottom: 28vw;
  width: 18vw;
}
#page2 .box5 {
  left: 60vw;
  bottom: 3vw;
  width: 18vw;
}
#page2 .box6 {
  left: 50vw;
  bottom: 30vw;
  width: 20vw;
}
/* 文章 */
#article {
  width: 1024px;
  display: block;
  margin: auto;
}
#article .box1 {
  position: absolute;
  width: 10vw;
  right: 2vw;
  top: 2vw;
}
#article .box1 img {
  width: 100%;
  display: block;
}
#article h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  position: absolute;
  left: 50px;
}
#article .png {
  width: 60%;
  margin: 30px auto;
  display: block;
  padding-top: 150px;
}
#article .png img {
  display: block;
  width: 100%;
}
#article .desc {
  font-size: 16px;
  line-height: 30px;
  color: #333;
  text-align: left;
  padding: 10px 0;
  text-align: justify;
  padding-top: 150px;
}
#article .contit .time,
#article .contit .h2 {
  display: inline-block;
}
#article .contit .time {
  font-size: 16px;
  text-align: right;
  vertical-align: bottom;
  margin-top: 70px;
}
#article .conbox .left {
  width: 400px;
}
#article .conbox .left iframe {
  width: 400px;
  height: 400px;
}
#article .conbox .right {
  width: 600px;
}
.pngbox .fl {
  width: 50%;
  height: 300px;
  overflow: hidden;
}
.pngbox .fl .png {
  display: block;
  width: 80%;
  margin: auto;
}
.pngbox .fl .png img {
  display: block;
  width: 100%;
}
/* 开始图片拖动 */
.startpng {
  width: 100px;
}
.startpng img {
  width: 100%;
}
.startpng .start1 {
  position: fixed;
  left: 50px;
  bottom: 240px;
  width: 100px;
  cursor: pointer;
  height: 183px;
  background: transparent url('../images/start1.png') no-repeat top scroll;
  background-size: 100px 183px;
  color: transparent;
  z-index: 999;
}
.startpng .start2 {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 140px;
}
.shadowbox {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  transform: translate(-50%, -50%);
}
.shadowbox .close {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 30px;
  top: 30px;
}
.shadowbox .close img {
  display: block;
  width: 100%;
}
.png1,
.png2 {
  color: transparent;
}
@media screen and (min-width: 900px) {
  .png1 {
    position: absolute;
    background-size: 200px 219px;
    background: transparent url('../images/c1.png') no-repeat top scroll;
    background-size: cover;
    width: 200px;
    height: 219px;
    left: 300px;
    top: 200px;
  }
  .png2 {
    position: absolute;
    background: transparent url('../images/c2.png') no-repeat top scroll;
    background-size: cover;
    width: 200px;
    height: 219px;
    left: 800px;
    top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .png1 {
    position: absolute;
    background-size: 200px 219px;
    background: transparent url('../images/c1.png') no-repeat top scroll;
    background-size: cover;
    width: 200px;
    height: 219px;
    left: 500px;
    top: 200px;
  }
  .png2 {
    position: absolute;
    background: transparent url('../images/c2.png') no-repeat top scroll;
    background-size: cover;
    width: 200px;
    height: 219px;
    left: 1100px;
    top: 200px;
  }
}
.learnmore {
  padding: 30px 0;
}
.learnmore a {
  font-size: 40px;
  margin: 0 30px;
  padding: 0 10px;
  font-weight: bold;
}
video{
  width: 100%;
  margin-top: 30px;
}
#article .list{
  padding-top: 0;
}
.pdtop{
  padding-top: 150px;
  position: relative;
}
.more{
  position: absolute;
  bottom: -50px;
  right: 40px;
  font-size: 25px;
}
.botTx{
  font-size: 5px;
  margin-top: 50px;
}
.topTx1{
  position: absolute;
  width: 100%;
    color: #ff6557;
    text-align: center;
    top: -40px;
    font-weight: bold;
    font-size: 20px;
}
.topTx2{
  position: absolute;
  width: 100%;
    color: #91de8f;
    text-align: center;
    top: -40px;
    font-weight: bold;
    font-size: 20px;
}
.topTx3{
  position: absolute;
  width: 100%;
    color: #6c97ff;
    text-align: center;
    top: -30px;
    font-weight: bold;
    font-size: 20px;
}
.topTx4{
  position: absolute;
  width: 100%;
    color: #09feff;
    text-align: center;
    top: -40px;
    font-weight: bold;
    font-size: 20px;
}
.topTx5{
  position: absolute;
  width: 100%;
    color: #34337f;
    text-align: center;
    top: -40px;
    font-weight: bold;
    font-size: 20px;
}